<div class="liveSlice__img">
  <img src="{{ entity.image[0].standard}}">
  <div class="liveSlice__gradient"></div>
  <div class="liveSlice__liveIcon">LIVE</div>
</div>

<div class="liveSlice__text">

  <div class="liveSlice__title">{{ entity.title }}</div>
  <div class="liveSlice__subtitle">{{ entity.editorial_subtitle }}</div>
  <div class="liveSlice__synopsis">{{ entity.synopses[0].small }}</div>

  <div class="liveSlice__buttons">
    <button class= "primary-button" type="button" name="button">Watch Live</button>
    <button class= "secondary-button" type="button" name="button">View all of Wimbledon</button>
  </div>

</div>
